
   

body{
    margin:0;
    padding: 0;
    font-family:"Roboto",sans-serif;
    background: #22242a;
    color: #fff;
    
 }
 
  header{
    position: fixed;
    background-color: #0d0d0e;
    padding:20px;
    width:100%;
    height:30px;
 }
 .left-area h3{
    color:#fff;
    margin:0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900px;
 }
 .left-area span{
   color:#1dc4e7
 }

 .sidebar{
    background: #2f323a;
    margin-top:70px;
    padding-top:30px;
    position: fixed;
    left:0;
    width: 250px;
    height:100%;
    transition: 0.5s;
    transition-property: left;
 }
 .sidebar .profile-image{
    width:100px;
    height:100px;
    border-radius: 100px;
    margin-bottom: 10px;
 } 
 .sidebar h4{
    color:#ccc;
    margin-top: 0;
    margin-bottom: 20px;
 }
 .sidebar a{
    color:#fff;
    display:block;
    line-height:60px;
    text-decoration: none;
    padding-left: 40px; 
    box-sizing: border-box;
    transition:0.5s;
    transition-property:background; 
 }
 .sidebar a:hover{
   background:#19b3d3;
 }
 .sidebar i{
   padding-right:10px;
 }
 label #sidebar_btn{
   z-index:1;
   color:#fff;
   position:fixed;
   cursor:pointer;
   left:220px;
   font-size:20px;
   margin:5px 0;
   transition: 0.5s;
   transition-property: color;
 }
 
.content{
   
   background: url(background.jpg) no-repeat;
   background-size: cover;
   height:100vh;
   transition: 0.5s;
}
#check:checked ~ .content{ 
   margin-left:60px;
}
#check{
   display:none;
}
.main{
   margin-left: 100px;
  
   background-color: #22242a;

}
.header-text{
   padding-left: 700px;
   padding-top: 300px;
}
.header-text span{
   color:red;
}
#about{
   padding-left: 250px;
   padding: 80px 0;
   color:#fff;
}
.container{
   padding-left: 250px;
}
.row{
   display: flex;
   
   flex-wrap: wrap; 
}
.about-col-1{
   flex-basis: 35%;    
}
.about-col-1 img{
   width:80%;
   border-radius:30px;
   padding-left: 70px;
   padding-top: 90px;
}
.about-col-2{
   flex-basis: 60% ;
   
}
.sub-title{
   font-size:60px;
   font-weight: 600;
   color:aqua;
      
}
.personal-info{
   flex:0 0 40%;
   max-width:40%;
   background-color: red;
}
.skills{
   flex:0 0 40%;
   max-width:40%;
   background-color: green;
}
.services-list{
   display:grid;
   grid-template-columns: repeat(auto-fit,minmax(0px,1fr));
   grid-gap:50px;
   margin-top:0px;   
}
.services-list div{
   
   background:#65676d;
   padding: 70px;
   font-size:13px;
   font-weight:300;
   border-radius: 30px; 
}
.sub-title2{
   padding-top: 0px;
   font-size:60px;
   font-weight: 600;
   color:aqua;
   text-align: center;
}


.box1{
   
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: left;
   background-color: #65676d;
   padding-left: 200px;
   padding:10px;
   border-radius: 20px;

}
.box2{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: left;
   background-color: #65676d;
   padding-left: 260px;
   padding:10px;
   border-radius: 20px;
}
.box3{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: left;
   background-color: #65676d;
   padding-left: 260px;
   padding:10px;
   border-radius: 20px;
}
#Services{
   padding-top: 100px;
}
.sub-title3{
   padding-top: 0px;
   font-size:60px;
   font-weight: 600;
   color:aqua;
   text-align: center;
   padding-top:80px;
   
}
.sub-title4{
   padding-top: 0px;
   font-size:60px;
   font-weight: 600;
   color:aqua;
   text-align: center;
   padding-top:80px;
   
}
#contact{
   padding-left: 260px;
}
.contact-left{
   flex-basis:35%;
   padding-left: 260px;

}
.contact-right{
   flex-basis:60%;
   

}
.contact-left p i{
   color: #ff004f;
   margin-right:15px;
   font-size:25px;
}
.social-icons{
   margin-top:30px;
}
.social-icons a{
   text-decoration: none;
   font-size: 30px;
   margin-right: 15px;
   color:#ababab;
   display:inline-block;
   transition: transform 0.5s;
}
.social-icons a:hover{
   color:#ff004f;
   transform: translate(-5px);
}
.btn.btn2{
   display:inline-block;
   background: #ff004f;
   padding: 15px;
   border-radius: 5px;
}
.contact-right form{
   width:100%;
   padding-left: 300px;
   left: 0;
   bottom: 0;
}
form input, form textarea{
   width:100px;
   border:0;
   outline:none;
   background: #ababab;
   padding:10px;
   margin:15px;
   color:#fff;
   font-size:18px;
   border-radius:6px;

    
}
.form{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: left;
   column-gap: 2px;
   
   
}
.copyright{ 
   width:100%;
   padding-right:1px;
   background:#564848;
   font-weight: 300;
   text-align: center;
}
.Contact-form{
   padding-left: 300px;
   padding-top: 200px;
   
}
#Contact{
   padding-left: 260px;
}
.but{
   padding-right: 30px;
}
.navbar{
    display:none;
   }
   .box{
      display:none;
   }
.mobileview{
   display: none;
}
.laptop{
   display: contents;
}

   


@media (max-width:400px) {

   .navbar{
      display: contents;
      
   }
   .navbar{
      padding-left: 200px;
   }
 
   
   
   .navbar a{
      color:#fff;
      padding-right:0px;
      padding-left:10px;
      white-space: 0px;
      text-decoration: none;
      padding-top: 200px;
      font-size: xx-large;
   
      }
   header{
      position: fixed;
      background-color: #0d0d0e;
      padding:40px;
      width:120%;
      height:60px;
   }
   .left-area h3{
      color:#fff;
      margin:0;
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 1000px;
      padding-top: 20px;
   }
   .left-area span{
     color:#1dc4e7
   }
    html{
      font-size: 100%;
      
    }
   .sidebar{
     display:none;
   }
   .content{
    background: url(background.jpg) no-repeat;
    background-size: cover;
    height:110vh;
    width:200vh;
    transition: 0.5s;
    }
   }
   
    @media (max-width:400px) {
      .services-list{
         grid-template-columns: repeat(1,1fr);
         padding-left: 60px;
       width: 250vw;
       padding-bottom: 600vw;
        height:400vw;
      }
      .sub-title2{
         padding-left: 170px;
         
      }
      .services-list p{
         font-size: xx-large;  
       }
       .services-list h2{
         font-size: xx-large;
       }
       .services-list2 p{
         font-size: xx-large;  
       }
       .services-list2 h2{
         font-size: xx-large;
         padding-left: 70px;
         color:#19b3d3;
   
       }
      
     }  
     @media (max-width:400px){
      .row{
        flex-direction: column;
      }
      
   
   .about-col-1 img{
     width:220vw;
     padding-left: 60px;

   }
   .about-col-2 {
     padding-left: 60px;
     font-size: xx-large;
     
     }
   .about-col-2 p{
     font-size: xx-large;  
   }
   .container{
      padding-left: 200px;
      }
   .container p{
      font-size: xx-large;
   }
}
      @media (max-width:400px){
         .sub-title3{
            padding-left: 160px;
         }
      
      
      .services-list2{
         display:none;
      }
      .box {
         display:contents;
         }
         

      .box div{
   
         background:#65676d;
         padding: 100px;
         width:600px;
         font-size:13px;
         font-weight:300;
         border-radius: 30px; 
         
      }
      }
      @media (max-width:400px){
         .form {
            grid-template-columns: repeat(1,1fr);  
            
         }
         .laptopview{
            display: none;
         }
         
         .sub-title4{
            padding-left:70px;
         }
         
      }
      @media (max-width:400px){
      
         .mobileview{
            display: contents;
         }
      }
 













<!-------->


